modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Frontend Development"

[[workflows.workflow]]
name = "Frontend Development"
author = 37396040
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev -- --port 5000 --hostname 0.0.0.0"
